<html>
  <head>
    <title>Getpocket Shuffle</title>
  </head>
  <body>
    <% if authorized? %>
      Authorized!
    <% else %>
      <a href="/getpocket/get_request_token">Authorize</a>
    <% end %>
  </body>
</html>
