[Unit]
Description=Getpocket Application for shuffling articles
After=network.target

[Service]
ExecStart=/bin/bash -lc 'rackup -o 127.0.0.1 -p 9393'
Type=simple
User=http
WorkingDirectory=/usr/lib/getpocket-shuffle

[Install]
WantedBy=default.target
